{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class=" uk-container uk-container-center uk-margin-large-top">


    <div class="uk-h4 uk-margin-large-bottom"> <div class="uk-alert">Καταχώρηση αμαξιών </div></div>

  <form class="uk-form" action="{{ url_for('post') }}" method="POST" enctype="multipart/form-data">

      <div class="uk-form-row ">
        <label class="uk-form-label" for="form-h-it">Όνομα αυτοκινήτου</label>
         <div class="uk-form-controls">
            <input type="text" id="form-h-it" placeholder="όνομα αυτοκινήτου" name="nameis" class="uk-width-1-1 nameCar">
         </div>
      </div>


      <div class="uk-form-row">
        <label class="uk-form-label" for="form-h-it">Αρχική τιμή</label>
         <div class="uk-form-controls">
            <input type="number" id="form-h-it" placeholder="αρχική τιμή" name="initial_price"  class="uk-width-1-1 finalPrice">
         </div>
      </div>


      <div class="uk-form-row">
        <label class="uk-form-label" for="form-h-it">Τελική τιμή</label>
         <div class="uk-form-controls">
            <input type="number" id="form-h-it" placeholder="τελικη τιμή" name="final_price" class="uk-width-1-1 inPrice" >
         </div>
      </div>


      <div class="uk-form-row">
        <label class="uk-form-label" for="form-h-it">Περιγράφη</label>
         <div class="uk-form-controls">
            <textarea name="description" class="uk-width-1-1 description"></textarea>
         </div>
      </div>



      <div class="uk-form-row">
        <label class="uk-form-label" for="form-h-it">Ανεβάστε την είκονα</label>
         <div class="uk-form-controls">
            <input type="file" id="form-h-it"  name="file"  class="uk-width-1-1 imageFile">
         </div>
      </div>


      <div class="uk-form-row">
        <label class="uk-form-label" for="form-h-it">Αριθμός επιβατών </label>
         <div class="uk-form-controls">
            <input type="number" id="form-h-it"  name="num_of_pass"  class="numberOfPass">
         </div>
      </div>


      <div class="uk-form-row">
        <label class="uk-form-label" for="form-h-it">Είδος αμαξιού</label>
         <div class="uk-form-controls">
            <input type="text" id="form-h-it"  name="type_of_car"  class="uk-width-1-1 type_of_car">
         </div>
      </div>


      <div class="uk-form-row">
        <label class="uk-form-label" for="form-h-it">Είναι τοπ</label>
         <div class="uk-form-controls">
            <select name="is_top">
                                            <option value="0">Όχι</option>
                                            <option value="1">Ναι</option>
            </select>
         </div>
      </div>




      <div class="uk-form-row">

         <div class="uk-form-controls">
            <button type="submit" class="uk-button uk-button-success" id="submitCar">Καταχώρηση</button>
         </div>
      </div>




  </form>
</div>


{% endblock %}