<!doctype html>
<html ng-app="CarApp">
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit.gradient.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='jstyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&amp;subset=greek" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Admin Area</title>
 <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>


    {% endblock %}
  </head>

  <body ng-controller="CarsController">


    <header id="headerp">

            <div class="uk-container uk-container-center">


                   <nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="{{ url_for('add_car') }}">Καταχώρηση αυτοκινήτων</a></li>
        <li><a href="{{ url_for('view_cars') }}">Επεξεργασία & διαγραφή αυτοκινήτων </a></li>
        <li class="uk-parent"><a href="">Δείτε τα πιο τόπ αυτοκινητα</a></li>
    </ul>
                        <div class="uk-navbar-flip">
                        <span class="uk-badge  uk-badge-success" style="padding:6px; margin-right: 10px; margin-top:4px;">Team Leader Adigoni</span>
                    </div>
</nav>


        </div>
    </header>

    <section id="content" >
        <div class="uk-container uk-container-center">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                              {% block content %}{% endblock %}
                    </div>
                </div>
        </div>
    </section>



    <footer>
      <div class="uk-container uk-container-center">
        {% block footer %}
        {% endblock %}
      </div>
    </footer>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script>

      (function () {

  'use strict';

  angular.module('CarApp', [])


            .config(['$interpolateProvider', function($interpolateProvider) {
                    $interpolateProvider.startSymbol('{a');
                    $interpolateProvider.endSymbol('a}');
            }])


          .controller('CarsController', ['$scope', '$log', '$http',
  function($scope, $log, $http) {


    $http.get('http://127.0.0.1:5000/api/cars').
      success(function(results) {
        console.log(results);
        $scope.apotelesmata = results
      }).
      error(function(error) {
        $log.log(error);
      });



}





]);
          }());
  </script>

  </body>
</html>